{{- if or .Values.monitoring.podMonitor.enabled (and .Values.doh.enabled .Values.doh.metrics.enabled) }}
apiVersion: monitoring.coreos.com/v1
kind: PodMonitor
metadata:
  labels:
    {{- include "pihole.labels" . | nindent 4 }}
    {{- with .Values.monitoring.podMonitor.labels }}
    {{- . | toYaml | nindent 4 }}
    {{- end }}
  name: {{ template "pihole.fullname" . }}-prometheus-exporter
{{- if .Values.monitoring.podMonitor.namespace }}
  namespace: {{ .Values.monitoring.podMonitor.namespace }}
{{- end }}
spec:
  podMetricsEndpoints:
{{- if .Values.monitoring.podMonitor.enabled }}
  - port: prometheus
    path: /metrics
{{- if .Values.monitoring.podMonitor.interval }}
    interval: {{ .Values.monitoring.podMonitor.interval }}
{{- end }}
{{- if .Values.monitoring.podMonitor.bearerTokenFile }}
    bearerTokenFile: {{ .Values.monitoring.podMonitor.bearerTokenFile }}
{{- end }}
{{- if .Values.monitoring.podMonitor.bearerTokenSecret }}
    bearerTokenSecret:
      name: {{ .Values.monitoring.podMonitor.bearerTokenSecret.name }}
      key: {{ .Values.monitoring.podMonitor.bearerTokenSecret.key }}
      {{- if .Values.monitoring.podMonitor.bearerTokenSecret.optional }}
      optional: {{ .Values.monitoring.podMonitor.bearerTokenSecret.optional }}
      {{- end }}
{{- end }}
{{- end }}
{{- if and .Values.doh.enabled .Values.doh.metrics.enabled }}
  - port: dnscrypt-metrics
    path: /metrics
{{- end }}
  jobLabel: {{ template "pihole.fullname" . }}-prometheus-exporter
  namespaceSelector:
    matchNames:
    - {{ .Release.Namespace }}
  selector:
    matchLabels:
      {{- include "pihole.selectorLabels" . | nindent 6 }}
{{- end }}
